.Toolbar{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #703B09;
}

.Toolbar nav {
    height: 100%;
}

@media (max-width:499px){
   .DesktopOnly{
       display: none;
   }
}